@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  font-size: 14px;
  --text-subdued: #a7a7a7;
  --text-dark: #b3b3b3;
  --text-light: #fff;
}

* {
  color: #cacaca;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  scroll-behavior: smooth;
  scrollbar-color: transparent transparent !important;
}
*:focus {
  outline: none;
}
*::-webkit-scrollbar {
  display: none !important;
}
body,
html {
  margin: 0rem;
  /* background-color: black; */
}

html {
  /* background-image: linear-gradient(to bottom, #363636, #121212, #0B0B0B); */
  /* background-image: linear-gradient(to bottom, #363636, #191919 20%, #0B0B0B); */

  background-color: rgb(19, 19, 19);
  /* background-image: linear-gradient(200deg, rgba(255, 255, 0, 1), #0b0b0b); */

  /* background-image: linear-gradient(to bottom, #181a1b, #121212, #0B0B0B); */
  /* background-color: #181a1b; */
}
a {
  text-decoration: none;
  color: var(--text-subdued);
}
.image-beneath {
  animation: none;
}
@media (prefers-reduced-motion: no-preference) {
  img {
    animation: fadeInAnimation 2s cubic-bezier(0.42, 0, 0.58, 1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.icon-circle {
  --b: 2px; /* border width*/
  color: var(--color);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.6rem;
  background-color: rgba(40, 40, 40, 0.7);
  /* background-color: #171a1a; */
  border-radius: 3rem;

  aspect-ratio: 1;
  position: relative;
  z-index: 0;
}

.icon-circle:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: var(
    --c,
    linear-gradient(
      to bottom,
      rgba(179, 179, 179, 0.01),
      rgba(50, 50, 50, 0.12)
    )
  );
  padding: var(--b);
  border-radius: 3rem;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.icon-box-circle {
  --b: 2px; /* border width*/
  color: var(--color);

  /* background-color: rgba(99, 99, 99, 0.12); */
  background-color: rgba(40, 40, 40, 0.7);
  /* background-color: #171a1a; */
  /* background-color: rgb(24, 24, 24); */
  backdrop-filter: blur(60px) saturate(210%);
  border-radius: 1rem;

  /* position: relative; */
  z-index: 0;
}

.icon-box-circle:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: var(
    --c,
    linear-gradient(
      to bottom,
      rgba(179, 179, 179, 0.01),
      rgba(50, 50, 50, 0.62)
    )
  );
  padding: var(--b);
  border-radius: 1rem;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.stack {
  display: grid;
}
.stack-item {
  grid-row: 1;
  grid-column: 1;
}
