
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    color: #cacaca;
    box-sizing: border-box;
    font-family: sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body, html{
    margin: 0rem;
    /* background-color: black; */
}

html {
    background-image: linear-gradient(to bottom, #363636, #121212, #0B0B0B);
    /* background-image: linear-gradient(to bottom, #181a1b, #121212, #0B0B0B); */
    /* background-color: #181a1b; */
}

.icon-circle {
    --b: 2px; /* border width*/
    color: var(--color);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0.6rem;
    background-color: rgba(179, 179, 179, 0.12);
    border-radius: 3rem;

    aspect-ratio: 1;
    position: relative;
    z-index: 0;
}

.icon-circle:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(
      --c,
      linear-gradient(
        to bottom,
        rgba(179, 179, 179, 0.01),
        rgba(179, 179, 179, 0.12)
      )
    );
    padding: var(--b);
    border-radius: 3rem;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .icon-box-circle {
    --b: 2px; /* border width*/
    color: var(--color);

    background-color: rgba(179, 179, 179, 0.12);
    border-radius: 1rem;

    position: relative;
    z-index: 0;
}

.icon-box-circle:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(
      --c,
      linear-gradient(
        to bottom,
        rgba(179, 179, 179, 0.01),
        rgba(179, 179, 179, 0.12)
      )
    );
    padding: var(--b);
    border-radius: 1rem;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }